:root {
    --mainColour: #fff;
    --secondaryColour: #ff0000; 
}

body{
    background-image: url('../images/Hero-Img.jpg');
    background-size: cover;
}

.featured-image{
    width: 90%;
    height: 90%;
    border: solid black 5px;
    border-radius: 20px;
    cursor: pointer;
};

