:root {
    --mainColour: #000000;
    --secondaryColour: #ff0000; 
    --textColour: #fff;
    --font-family:'Teko', sans-serif;
}

body{
    background-image: url('../images/Hero-Img.jpg');
    background-size: cover;
}

.navbar {
    background-color: var(--mainColour) !important;
}

.navbar-brand {
    color: var(--textColour);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--textColour);
}

.navbar-nav{
    --bs-nav-link-color: var(--textColour);
    --bs-nav-link-hover-color: var(--secondaryColour);
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 22px;

}

.py-5 {
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}

.my-5 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}

#hero{
    background-color: var(--mainColour);
    color: var(--textColour);
    border-radius: 16px;
}

#about-superheroes {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 54px;
}

.hero-text {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 28px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-top: 12px;
    margin-bottom: -6px;
}

.form-input::-webkit-input-placeholder {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 26px;
}

#search-button {
    background-color: var(--mainColour);
    color:var(--textColour);
    border:none;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 400;
}

#search-button:hover{
    color: var(--secondaryColour);
}

.superhero-name{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
}

.find-movies{
    background-color: var(--mainColour);
    border: none;
    font-family: var(--font-family);
    font-size: 24px;
}

.find-movies:hover{
    background-color: var(--mainColour);
    color: var(--secondaryColour);
}

.superheroes-featured{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 44px;
}

.featured-superheroes{
    background-color: var(--textColour);
    border-radius: 24px;
    padding: 16px;
}

#featured-cards{
    text-align: center;
    font-family: var(--font-family);
    font-size: 32px;
}


.featured-image{
    width: 90%;
    height: 90%;
    border: solid var(--mainColour) 6px;
    border-radius: 20px;
    cursor: pointer;
};

 img#history-button {
    min-height: 152px;
    max-width: 140px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: 2px solid black;
}

h4.searched {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 3rem;
} 

#search-history{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 46px;
}

.col.searched {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 5px;
    font-family: var(--font-family);
    font-size: 28px;
}

img.btn {
    padding: 0;
    border-radius: 20px;
    border: 6px solid black;
    max-width: 200px;
}

.movie-poster {
    width: 30%;
}

.movie-list-head {
    line-height: 5rem;
}

.movie-description {
    font-size: 20px;
    font-weight: 300;
}

.movie-title {
    margin-bottom: 0px;
    margin-top: 40px;
}

body.modal-open {
    overflow: scroll !important;
  }

.modal{
    overflow: scroll !important;
 }

 .modal-backdrop.show {
    opacity: 0 !important;
 }

 .modal-backdrop {
    position: inherit;
 }