 :root {
    --mainColour: #000000;
    --secondaryColour: #ff0000; 
    --textColour: #fff;
    --font-family:'Teko', sans-serif;
}

body{
    background-image: url('../images/Hero-Img.jpg');
    background-size: cover;
}

.navbar {
    background-color: var(--mainColour) !important;
}

.navbar-brand {
    color: var(--textColour);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
}

.navbar-brand:hover{
    color: var(--textColour);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--textColour);
}

.nav-link:hover{
    color: var(--secondaryColour) !important;
}

.navbar-nav{
    --bs-nav-link-color: var(--textColour);
    --bs-nav-link-hover-color: var(--secondaryColour);
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 22px;

}

h1#about-project {
    color: var(--textColour) !important;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    text-align: center;

}

hr{
    color: #fff;
    border: 2px solid var(--textColour);
}

p.project-superhero {
    color: var(--textColour) !important;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 26px;
    letter-spacing: 1px;
}

.col.about-project-main {
    background-color:var(--mainColour);
    border-radius: 24px;
    padding: 16px;
}